/***********************
    Sección Acerca
***********************/
.supGlosario {
    font-size: 10px;
}
.tituloGlosario {
    font-size: 26px;
    margin-top: 50px;
}
.subtituloGlosario {
    font-size: 20px;
    margin-top: 40px;
}
.subtituloEtapas {
    font-size: 16px;
    margin-top: 30px;
}
.colorGlosario {
    color: #db4b36;
    font-family: "Proxima Nova Bold";
}
.alineaGlosario {
    text-align: justify;
}
.numeroGlosario {
    color: #db4b36;
}
.letraGlosario {
    color: #333333;
}
.subrayadoGlosario {
    text-decoration: underline;
}
.espacioContainer {
    margin-left: 40px;
    margin-right: 40px;
}
.subnivelContainer {
    margin-left: 30px;
    margin-right: 30px;
}
.tamanoBody {
    display: block;
}

@media only screen
and (min-device-width: 300px)
and (max-device-width: 1024px) {
    .tamanoBody {
        width: 108%;
    }
    .alineaGlosario {
        max-width: 94%!important;
        font-size: 36px;
    }
    .supGlosario {
        font-size: 18px;
    }
    .tituloGlosario {
        font-size: 40px;
    }
    .subtituloGlosario {
        font-size: 36px;
    }
    .subtituloEtapas {
        font-size: 36px;
    }
}