<div class="foot">
    <div class="footerRedesInfra">
        <div class="row redesTableInfra">
            <div class="col-lg col-md" style="display:flex">
                <img class="redesLogo" src="/images/redes_www.png">
                <a  style="text-indent: 28px;" class="linkRedes" href="http://infraestructuraabierta.mx/" target="_blank">infraestructuraabierta.mx</a>
            </div>
            <div class="col-lg col-md" style="display:flex">
                <img class="redesLogo" src="/images/redes_twitter.png">
                <a  style="text-indent: 28px;" class="linkRedes" href="https://twitter.com/infraabiertaMX" target="_blank">infraabiertaMX</a>
            </div>
            <div class="col-lg col-md" style="display:flex">
                <img class="redesLogo" src="/images/redes_instagram.png">
                <a  style="text-indent: 28px;" class="linkRedes" href="https://www.instagram.com/infraestructura.mx/" target="_blank">infraestructura.mx</a>
            </div>
            <div class="col-lg col-md" style="display:flex">
                <img class="redesLogo" src="/images/redes_correoelectronico.png">
                <a  style="text-indent: 28px;" class="linkRedes" href="mailto:infraestructura@inai.org.mx">infraestructura@inai.org.mx</a>
            </div>
            <div class="col-lg col-md" style="display:flex">
                <img class="redesLogo" src="/images/redes_correoelectronico.png">
                <a  style="text-indent: 28px;" class="linkRedes" href="mailto:infraestructura.abierta@mexicoevalua.org" target="_blank">infraestructura.abierta@mexicoevalua.org</a>
            </div>
        </div>
    </div>
    <div class="footerRedes">
        <div class="row redesTable">
            <div class="col-lg col-md" style="display:flex">
                <img class="redesLogo" src="/images/redes_www.png">
                <a style="text-indent: 28px;" class="linkRedes" href="https://www.mexicoevalua.org/" target="_blank">mexicoevalua.org</a>
            </div>
            <div class="col-lg col-md" style="display:flex">
                <img class="redesLogo" src="/images/redes_facebook.png">
                <a  style="text-indent: 28px;" class="linkRedes" href="https://www.facebook.com/mexicoevalua" target="_blank">mexicoevalua</a>
            </div>
            <div class="col-lg col-md" style="display:flex">
                <img class="redesLogo" src="/images/redes_twitter.png">
                <a  style="text-indent: 28px;" class="linkRedes" href="https://twitter.com/mexevalua" target="_blank">mexevalua</a>
            </div>
            <div class="col-lg col-md" style="display:flex">
                <img class="redesLogo" src="/images/redes_instagram.png">
                <a  style="text-indent: 28px;" class="linkRedes" href="https://www.instagram.com/mexevalua/" target="_blank">mexevalua</a>
            </div>
        </div>
        <div class="row redesTable1">
            <div class="col-lg col-md" style="display:flex">
                <img class="redesLogo" src="/images/redes_www.png">
                <a style="text-indent: 28px;" class="linkRedes" href="https://home.inai.org.mx/" target="_blank">inai.org.mx</a>
            </div>
            <div class="col-lg col-md" style="display:flex">
                <img class="redesLogo" src="/images/redes_facebook.png">
                <a  style="text-indent: 28px;" class="linkRedes" href="https://www.facebook.com/INAImx" target="_blank">INAImx</a>
            </div>
            <div class="col-lg col-md" style="display:flex">
                <img class="redesLogo" src="/images/redes_twitter.png">
                <a  style="text-indent: 28px;" class="linkRedes" href="https://twitter.com/INAImexico" target="_blank">INAImexico</a>
            </div>
            <div class="col-lg col-md" style="display:flex">
                <img class="redesLogo" src="/images/redes_instagram.png">
                <a  style="text-indent: 28px;" class="linkRedes" href="https://www.instagram.com/INAI_mx/" target="_blank">inai_mx</a>
            </div>
        </div>
    </div>
    <div class="barra_footer"></div>
    <div class="space_img">
        <div class="row">
            <div class="col-md-6 col-lg altoFooter">
                <a href="http://inicio.inai.org.mx" target="_blank">
                    <img id="inaiIcon" src="/images/inai.png" width="150px" onmouseover="changeIcon('inaiIcon','/images/inai_hover.png')" onmouseout="changeIcon('inaiIcon','/images/inai.png')"/>
                </a>
                
                <p class="titulos espacio_img">En colaboración con:</p>
                
                <a href="https://www.mexicoevalua.org" target="_blank">
                    <img id="mexicoIcon" src="/images/mexicoEvalua.png" height="130px" onmouseover="changeIcon('mexicoIcon','/images/mexicoEvalua_hover.png')" onmouseout="changeIcon('mexicoIcon','/images/mexicoEvalua.png')"/>
                </a>
            </div>
            <div class="col-md-6 col-lg">                
                <p class="hashtag">#InfraestructuraAbierta</p>
                    
                <p class="titulos">Usa y mejora esta herramienta:</p>
                    
                <a href="//github.com/datosabiertosmx" target="_blank">
                    <img class="sizeGitHub" id="gitIcon" src="/images/github.png" onmouseover="changeIcon('gitIcon','/images/github_hover.png')" onmouseout="changeIcon('gitIcon','/images/github.png')">
                </a>
            </div>
            <div class="col-md col-lg">
                <p class="titulos espTexMovil">Sitios de interés:</p>
                    <div>
                        <div><a class="textos links" href="http://www.plataformadetransparencia.org.mx/web/guest/inicio" target="_blank">Plataforma Nacional de Transparencia</a></div>
                        <div><a class="textos links" href="https://micrositios.inai.org.mx/gobiernoabierto/" target="_blank">Gobierno Abierto y Transparencia</a></div>
                        <div><a class="textos links" href="https://micrositios.inai.org.mx/plandai/" target="_blank">Plan Nacional de Socialización del Derecho de Acceso a la Información</a></div>
                    </div>
                <p class="titulos espacio_texts">Contacto:</p>
                    <div>
                        <p class="textos">Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales
                        <br>Insurgentes Sur No. 3211 Col. Insurgentes Cuicuilco, Alcaldía Coyoacán, C.P. 04530, Ciudad de México, México
                        <br>TELINAI 800 8354324
                        <br>infraestructura@inai.org.mx</p>
                    </div>
            </div>
        </div>
        <div class="row">
            <p class="col-md-12 version">
                Infraestructura Abierta | v-1.0.0
            </p>
        </div>
    </div>
</div>
<script>
    function changeImg(id,route){
        document.getElementById(id).setAttribute("src",route);
    }
</script>